@charset "utf-8";
/* CSS Document */

/*Fuentes*/

@font-face {
    font-family: HelveticaNeueLTCom-LtCn;
    src: url(../fuentes/HelveticaNeueLTCom-LtCn.ttf);
}

@font-face {
    font-family: Ebrima;
    src: url(../fuentes/ebrima.ttf);
}

@font-face {
    font-family: Amigos;
    src: url(../fuentes/Amigos.ttf);
}

