@charset "utf-8";
/* CSS Document */

/*Fuentes*/
@font-face {
    font-family: Autumn in November;
    src: url(../fuentes/AutumninNovember.ttf)
}

@font-face {
    font-family: HelveticaNeueLTCom-LtCn;
    src: url(../fuentes/HelveticaNeueLTCom-LtCn.ttf);
}

@font-face {
    font-family: HelveticaNeueLTCom-UltLt;
    src: url(../fuentes/HelveticaNeueLTCom-UltLt.ttf);
}

@font-face {
    font-family: Ebrima;
    src: url(../fuentes/ebrima.ttf);
}