.main {
    height: auto;
    margin: 0 auto;
    padding: 0;
    background: #333333;
}

/* Section: Header */

.header {
    width: 100%;
    display: flex;
    background-image: url(../imagenes/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.logo-contenedor {
    width: 100%;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 240px;
    height: 124px;
    margin-left: 100px;
    background-image: url(../imagenes/logo.svg);
    background-repeat: no-repeat;
}

/* hamburger */
/* https://codepen.io/Multiple-Illusionsi/pen/eYYYerO */
.header .checkbox {
    display: none;
}

.header .button {
    position: relative;
    background-color: whitesmoke;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: fixed;
    top: 5vh;
    right: 5vw;
    z-index: 2000;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    text-align: center;
    cursor: pointer;
}

.header .background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 5.5vh;
    right: 5.5vw;
    background: #AC90E8;
    z-index: 1000;
    opacity: 0.85;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.header .nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: -60vw;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s;
}

.header .list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}

.header .item {
    margin: 1rem;
    font-size: 36px;
}

.header .item a {
    color: whitesmoke;
}

/* .header .link:link,
.header .link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    /* text-transform: uppercase; 
    background-image: linear-gradient(120deg,
            transparent 0%,
            transparent 50%,
            white 50%);
    background-size: 220%;
    transition: all 0.4s;
} */

.header .link:hover,
.header .link:active {
    color: #6F60A6;
    cursor: pointer;
}

/* functionality */
.checkbox:checked~.background {
    transform: scale(80);
}

.checkbox:checked~.nav {
    opacity: 1;
    width: 100%;
    right: 0;
}


/* functionality */
.header .checkbox:checked~.background {
    transform: scale(80);
}

.header .checkbox:checked~.nav {
    opacity: 1;
    width: 100%;
    right: 0;
}

/* styling hamb ICON */
.header .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .icon,
.header .icon::before,
.header .icon::after {
    width: 3rem;
    height: 2px;
    background-color: gray;
    display: inline-block;
}

.header .icon::before,
.header .icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
}

.header .icon::before {
    top: -0.8rem;
}

.header .icon::after {
    top: 0.8rem;
}

.header .button:hover icon:before {
    top: -1rem;
}

.header .button:hover icon::after {
    top: 1rem;
}

.header .checkbox:checked+.button .icon {
    background-color: transparent;
}

.header .checkbox:checked+.button .icon::before {
    top: 0;
    transform: rotate(135deg);
}

.header .checkbox:checked+.button .icon::after {
    top: 0;
    transform: rotate(-135deg);
}

/* Section: Reel*/

.reel {
    width: 100%;
    height: 600px;
    margin: 0 auto;
}

.reel iframe {
    width: 100%;
    height: 100%;
}

/* Section: Proyectos */

.proyectos {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
}

.proyecto-contenedor {
    position: relative;
    width: 100%;
}

.proyecto-overlay {
    height: 99.5%;
    width: 100%;
    flex-flow: column;
    position: absolute;
    display: flex;
    opacity: 0;
    transition: all 0.5s linear 0.2s;
}

.proyecto-overlay .overlay-titulo {
    color: #90A3E8;
    background-color: whitesmoke;
}

.proyecto-overlay .overlay-titulo h2 {
    font-size: 3rem;
}

.proyecto-overlay .overlay-desc h3 {
    font-size: 2rem;
}

.proyecto-overlay .overlay-desc {
    color: white;
    background-color: transparent;
    padding: 1rem;
    text-align: center;
}

.proyecto-contenedor:hover .proyecto-overlay {
    z-index: 10;
    opacity: 0.90;
    width: 30%;
}

.proyecto-overlay.overlay1 {
    background-color: #90A3E8;
    right: 0;
}

.proyecto-overlay.overlay1 .overlay-titulo {
    color: #90A3E8;
}

.proyecto-overlay.overlay2 {
    background-color: #6F60A6;
    left: 0;
}

.proyecto-overlay.overlay2 .overlay-titulo {
    color: #6F60A6;
}


.proyecto-overlay h2 {
    text-align: center;
}
.proyecto-contenedor{
	box-shadow:  0 5px 5px rgba(0, 0, 0, 0.19);
}

.proyecto-contenedor .imgpr {
    width: 100%;
    height: auto;
}

/* Section: Sobre mi */

.sobre-mi {
    width: 100%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    background-color: #90A3E8;
}

.cuadrado{
    width: 44.9%;
	height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.sobre-mi .cuadrado .cuadrado-titulo {
    color: #6F60A6;
    background-color: white;
    text-align: center;
    width: 100%;
}

.sobre-mi .cuadrado .cuadrado-contenido {
	height: 350px;
    background-color: #CFDCFF;
	display: flex;
	align-items: center;
}

.cuadrado-contenido {
	height: 350px;
    background-color: #CFDCFF;
	display: flex;
	align-items: center;
	justify-content: center;
}

.habilidades{
	width: 50%;
	height: auto;
}
.cuadrado-contenido2{
	height: 350px;
    background-color: #CFDCFF;
	display: flex;
	justify-content: center;
	align-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
}

.cuadrado-contenido3{
	height: 350px;
    background-color: #CFDCFF;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: row;
}

.logocliente {
	width: 35%;
	height: auto;
}

/* Section: Footer */

footer div {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: flex-start;
}

.footer {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.redes {
    max-width: 300px;
    height: 60px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 50px;
}

.red {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-left: 15px;
    margin-right: 15px;

}
.red:hover {
	opacity: 0.4;
}

.footer h3 {
    margin-top: 30px;
    text-align: center;
}

/* Responsive */
@media only screen and (max-width : 800px) {

    .main{
       width: 100%;
        height: auto;
    }
	.header {
        width: 100%;
        height: auto;
    }

    .logo-contenedor {
        justify-content: center;
        height: 225px;
    }

    .logo {
        margin-right: 5rem;
    }

    .header-list {
        top: 35%;
        left: 45%;
    }
	
	.header .button{
		top: 5vh;
	}
	
	.header .background{
		top: 6vh;
	}
	
    h1 {
        font-size: 35px;
    }

    .reel {
        width: 100%;
        height: 350px;
        margin: 0 auto;
    }
	
	.proyecto-overlay .overlay-titulo h2 {
    font-size: 2.5rem;
	}
	.barra1{
		height: 80px;
		
	}
	.barra2{
		height: 80px;
	}
    .sobre-mi {
        width: 100%;
        height: auto;
    }

    .cuadrado {
        width: 90%;
        background-color: #CFDCFF;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
	

	.redes{
		margin-top: 20px;
	}
	.cuadrado-contenido{
		height: 200px;
	}
	
}

@media only screen and (max-width : 700px){
	.proyecto-overlay .overlay-titulo h2 {
    font-size: 2rem;
	}
	
}

@media only screen and (max-width : 600px) {
	
	.logo-contenedor{
	justify-content: center;
    align-items: center;
    height: 150px;
	}
	
	.logo{
	width: 150px;
    height: 100px;
	}
	.reel{
		width: 100%;
		height: 300px;
	}
	
	.barra1{
		height: 60px;
	}
	.barra2{
		height: 60px;
	}
	.proyecto-overlay .overlay-titulo h2 {
    font-size: 1.3rem;
}
	.proyecto-overlay .overlay-desc{
		padding: 0;
	}
	
	.proyecto-overlay .overlay-desc h3 {
    font-size: 1.5rem;
	}
		
	 h1 {
        font-size: 25px;
    }
	
	.header .button{
		top: 5vh;
		width: 3.5rem;
		height: 3.5rem;
	}
	
	.header .background{
		width: 2rem;
		height: 2rem;
		top: 6vh;
	}

	.header .icon, .header .icon::before, .header .icon::after{
		width: 2rem;
		height: 2px;
	}
	
	.cuadrado{
	width: 80%;
	}
}
